h1 {
	color:	white;
	margin: 0;
}			
img {
	height: 70px;
	width: 70px;	
}
#about {
	color: grey;
    float: left;
    width: 300px;
}
#shopExample {			
	border: solid 1px #000;	
	margin: 0 auto;
	position: relative;
	width: 400px;
	height: 245px;
}
#header {
	text-align: center;
	background: #456;				
	margin: 0;
	padding: 5px;
}
#counter {
	float: left;
	width: 140px;
	height:100;
	margin: 0;
}
#description {
	margin: 0 0 0 140px;
    padding: 10px 15px;
    text-align: right;
    width: 220px;
}